name: Deploy site

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python 3.12
      uses: actions/setup-python@v4.5.0
      with:
        python-version: 3.12
    - name: Install Poetry
      run: curl -sSL https://install.python-poetry.org | python -
    - name: Install dependencies with Poetry
      run: poetry install
    - name: Generate MDX
      run: poetry run python bin/site.py -v

    - name: Use Node.js 22.x
      uses: actions/setup-node@v3
      with:
        node-version: 22.x
    - name: Export site
      run: |
        npm install
        npm run build
      working-directory: website
    - name: Deploy
      run: |
        git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        npm run deploy -- -u "github-actions-bot <support+actions@github.com>"
      working-directory: website
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
